<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()" color="success">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Información</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" >
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="contenido">
    <img src="assets/logo.jpg" class="ion-padding">
    <ion-card-content class="texto">
      RegistraTodo es una herramienta diseñada para que el docente pueda realizar múltiples tareas durante las sala de clases de forma que el tiempo que toma registra a los alumons lleva tiempo, RegistraTodo le permitira reducir dicho tiempo y a la vez evitar confunciones  en el registro de los alumnos debido al no poder reconocer visualmente e incluso olvidos por parte del docente de realizar esta actividad, con el fin de terminar con esta problemática en forma definitiva. RegistraTodo sera capaz de ser utilizada
      en plataformas tanto como Android e iOS que permita que cada alumno registre su propia
      asistencia.  </ion-card-content>
    <ion-card-header>
      <ion-card-title class="texto">RegistraTodo</ion-card-title>
    </ion-card-header>
    
  </ion-card>


</ion-content>
