

.texto{
    color:rgb(1, 1, 1);
    text-align: justify;
}

.contenido{
    background-color: rgb(205, 205, 217);
    text-align: justify;
    padding:0%;

}

.titulo{
    font-weight: bold;
   
}