.texto{
    color:#1327da;
    text-align: justify;
}

.contenido{
    background-color: rgb(103, 103, 210);
    text-align: justify;
    padding:0%;

}

.titulo{
    font-weight: bold;
   
}
